<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>ActionResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>ErrorSummaries</key>
				<array/>
				<key>HasCodeCoverage</key>
				<false/>
				<key>Status</key>
				<string>IDEActionResultStatus_NotRequested</string>
				<key>TestFailureSummaries</key>
				<array/>
				<key>TestsCount</key>
				<integer>0</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>0</integer>
				<key>WarningSummaries</key>
				<array/>
			</dict>
			<key>BuildResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>ErrorSummaries</key>
				<array/>
				<key>HasCodeCoverage</key>
				<false/>
				<key>LogPath</key>
				<string>1_Run/build.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Succeeded</string>
				<key>TestFailureSummaries</key>
				<array/>
				<key>TestsCount</key>
				<integer>0</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>0</integer>
				<key>WarningSummaries</key>
				<array/>
			</dict>
			<key>EndedTime</key>
			<date>2019-07-31T20:12:47Z</date>
			<key>RunDestination</key>
			<dict>
				<key>LocalComputer</key>
				<dict>
					<key>BusSpeedInMHz</key>
					<integer>400</integer>
					<key>CPUCount</key>
					<integer>1</integer>
					<key>CPUKind</key>
					<string>Intel Core i7</string>
					<key>CPUSpeedInMHz</key>
					<integer>2200</integer>
					<key>Identifier</key>
					<string>210F7F02-2383-57B1-BDC8-F750983C2C92</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>LogicalCPUCoresPerPackage</key>
					<integer>12</integer>
					<key>ModelCode</key>
					<string>MacBookPro15,1</string>
					<key>ModelName</key>
					<string>MacBook Pro</string>
					<key>ModelUTI</key>
					<string>com.apple.macbookpro-15-retina-touchid-2018</string>
					<key>Name</key>
					<string>My Mac</string>
					<key>NativeArchitecture</key>
					<string>x86_64h</string>
					<key>OperatingSystemVersion</key>
					<string>10.14.5</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>10.14.5 (18F203)</string>
					<key>PhysicalCPUCoresPerPackage</key>
					<integer>6</integer>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.macosx</string>
						<key>Name</key>
						<string>macOS</string>
					</dict>
					<key>RAMSizeInMegabytes</key>
					<integer>16384</integer>
				</dict>
				<key>Name</key>
				<string>iPhone 6 Plus</string>
				<key>TargetArchitecture</key>
				<string>x86_64</string>
				<key>TargetDevice</key>
				<dict>
					<key>Identifier</key>
					<string>29CE6445-9E8C-4685-85A3-DF270CFC8BFD</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>ModelCode</key>
					<string>iPhone7,1</string>
					<key>ModelName</key>
					<string>iPhone 6 Plus</string>
					<key>ModelUTI</key>
					<string>com.apple.iphone-6-plus-b4b5b9</string>
					<key>Name</key>
					<string>iPhone 6 Plus</string>
					<key>NativeArchitecture</key>
					<string>x86_64</string>
					<key>OperatingSystemVersion</key>
					<string>12.2</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>12.2 (16E226)</string>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.iphonesimulator</string>
						<key>Name</key>
						<string>iOS Simulator</string>
					</dict>
				</dict>
				<key>TargetSDK</key>
				<dict>
					<key>Identifier</key>
					<string>iphonesimulator12.2</string>
					<key>IsInternal</key>
					<false/>
					<key>Name</key>
					<string>Simulator - iOS 12.2</string>
					<key>OperatingSystemVersion</key>
					<string>12.2</string>
				</dict>
			</dict>
			<key>SchemeCommand</key>
			<string>Run</string>
			<key>SchemeTask</key>
			<string>Build</string>
			<key>StartedTime</key>
			<date>2019-07-31T20:12:05Z</date>
			<key>Title</key>
			<string>Build "tmdbTest"</string>
		</dict>
		<dict>
			<key>ActionResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>ErrorSummaries</key>
				<array/>
				<key>HasCodeCoverage</key>
				<false/>
				<key>LogPath</key>
				<string>2_Test/action.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Succeeded</string>
				<key>TestFailureSummaries</key>
				<array/>
				<key>TestSummaryPath</key>
				<string>2_Test/action_TestSummaries.plist</string>
				<key>TestsCount</key>
				<integer>7</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>0</integer>
				<key>WarningSummaries</key>
				<array/>
			</dict>
			<key>BuildResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>ErrorSummaries</key>
				<array/>
				<key>HasCodeCoverage</key>
				<false/>
				<key>LogPath</key>
				<string>2_Test/build.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Succeeded</string>
				<key>TestFailureSummaries</key>
				<array/>
				<key>TestsCount</key>
				<integer>0</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>0</integer>
				<key>WarningSummaries</key>
				<array/>
			</dict>
			<key>EndedTime</key>
			<date>2019-07-31T20:12:47Z</date>
			<key>RunDestination</key>
			<dict>
				<key>LocalComputer</key>
				<dict>
					<key>BusSpeedInMHz</key>
					<integer>400</integer>
					<key>CPUCount</key>
					<integer>1</integer>
					<key>CPUKind</key>
					<string>Intel Core i7</string>
					<key>CPUSpeedInMHz</key>
					<integer>2200</integer>
					<key>Identifier</key>
					<string>210F7F02-2383-57B1-BDC8-F750983C2C92</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>LogicalCPUCoresPerPackage</key>
					<integer>12</integer>
					<key>ModelCode</key>
					<string>MacBookPro15,1</string>
					<key>ModelName</key>
					<string>MacBook Pro</string>
					<key>ModelUTI</key>
					<string>com.apple.macbookpro-15-retina-touchid-2018</string>
					<key>Name</key>
					<string>My Mac</string>
					<key>NativeArchitecture</key>
					<string>x86_64h</string>
					<key>OperatingSystemVersion</key>
					<string>10.14.5</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>10.14.5 (18F203)</string>
					<key>PhysicalCPUCoresPerPackage</key>
					<integer>6</integer>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.macosx</string>
						<key>Name</key>
						<string>macOS</string>
					</dict>
					<key>RAMSizeInMegabytes</key>
					<integer>16384</integer>
				</dict>
				<key>Name</key>
				<string>iPhone 6 Plus</string>
				<key>TargetArchitecture</key>
				<string>x86_64</string>
				<key>TargetDevice</key>
				<dict>
					<key>Identifier</key>
					<string>29CE6445-9E8C-4685-85A3-DF270CFC8BFD</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>ModelCode</key>
					<string>iPhone7,1</string>
					<key>ModelName</key>
					<string>iPhone 6 Plus</string>
					<key>ModelUTI</key>
					<string>com.apple.iphone-6-plus-b4b5b9</string>
					<key>Name</key>
					<string>iPhone 6 Plus</string>
					<key>NativeArchitecture</key>
					<string>x86_64</string>
					<key>OperatingSystemVersion</key>
					<string>12.2</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>12.2 (16E226)</string>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.iphonesimulator</string>
						<key>Name</key>
						<string>iOS Simulator</string>
					</dict>
				</dict>
				<key>TargetSDK</key>
				<dict>
					<key>Identifier</key>
					<string>iphonesimulator12.2</string>
					<key>IsInternal</key>
					<false/>
					<key>Name</key>
					<string>Simulator - iOS 12.2</string>
					<key>OperatingSystemVersion</key>
					<string>12.2</string>
				</dict>
			</dict>
			<key>SchemeCommand</key>
			<string>Test</string>
			<key>SchemeTask</key>
			<string>BuildAndAction</string>
			<key>StartedTime</key>
			<date>2019-07-31T20:12:13Z</date>
			<key>Title</key>
			<string>Testing workspace tmdbTest with scheme tmdbTest</string>
		</dict>
	</array>
	<key>AnalyzerWarningCount</key>
	<integer>0</integer>
	<key>CreatingWorkspaceFilePath</key>
	<string>/Users/bi001933/Developer/tmdbTest/tmdbTest/tmdbTest.xcworkspace</string>
	<key>ErrorCount</key>
	<integer>0</integer>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>Running</key>
	<false/>
	<key>SchemeIdentifier</key>
	<dict>
		<key>ContainerName</key>
		<string>tmdbTest project</string>
		<key>EntityName</key>
		<string>tmdbTest</string>
		<key>EntityType</key>
		<string>scheme</string>
		<key>SharedState</key>
		<string>shared</string>
	</dict>
	<key>TestSummaryPath</key>
	<string>/Users/bi001933/Developer/tmdbTest/Test.xcresult/TestSummaries.plist</string>
	<key>TestsCount</key>
	<integer>7</integer>
	<key>TestsFailedCount</key>
	<integer>0</integer>
	<key>WarningCount</key>
	<integer>0</integer>
</dict>
</plist>
