<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.1</string>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>DiagnosticsDirectory</key>
			<string>tmdbTestTests-495D358C-4512-45A1-A8BA-130416DB31A2</string>
			<key>ProjectPath</key>
			<string>tmdbTest.xcodeproj</string>
			<key>TargetName</key>
			<string>tmdbTestTests</string>
			<key>TestKind</key>
			<string>app hosted</string>
			<key>TestName</key>
			<string>tmdbTestTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.028056979179382324</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.024942994117736816</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.023659944534301758</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.002678990364074707</real>
											<key>TestIdentifier</key>
											<string>UpcomingMoviesTests/testFetchMovies()</string>
											<key>TestName</key>
											<string>testFetchMovies()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>349041BE-C19B-49F2-90F5-E34A59F2446C</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.00080001354217529297</real>
											<key>TestIdentifier</key>
											<string>UpcomingMoviesTests/testInitialState()</string>
											<key>TestName</key>
											<string>testInitialState()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>4BAEACB2-950A-426C-BBDE-332681A5F535</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0016760826110839844</real>
											<key>TestIdentifier</key>
											<string>UpcomingMoviesTests/testIsSearching()</string>
											<key>TestName</key>
											<string>testIsSearching()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>83422542-C24D-4B6C-BE82-1290A5557ADF</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0042549371719360352</real>
											<key>TestIdentifier</key>
											<string>UpcomingMoviesTests/testLoadNextPageWithoutSearch()</string>
											<key>TestName</key>
											<string>testLoadNextPageWithoutSearch()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>C92F2A7B-6A24-4355-BD22-EE04C7AFCB7D</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0016839504241943359</real>
											<key>TestIdentifier</key>
											<string>UpcomingMoviesTests/testLoadNextPageWithSearch()</string>
											<key>TestName</key>
											<string>testLoadNextPageWithSearch()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>5853ECEE-7DD2-4BC8-B13E-05E646291E34</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0014100074768066406</real>
											<key>TestIdentifier</key>
											<string>UpcomingMoviesTests/testSearchMovie()</string>
											<key>TestName</key>
											<string>testSearchMovie()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>ABCF18C6-2CA8-4458-9201-27187BECB234</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0034919977188110352</real>
											<key>TestIdentifier</key>
											<string>UpcomingMoviesTests/testSearchShouldResetDataAndPageNumber()</string>
											<key>TestName</key>
											<string>testSearchShouldResetDataAndPageNumber()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>C2A3C38A-D07F-4B7A-B04F-58709AAED473</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>UpcomingMoviesTests</string>
									<key>TestName</key>
									<string>UpcomingMoviesTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>tmdbTestTests.xctest</string>
							<key>TestName</key>
							<string>tmdbTestTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
